.success {
  color: Green;
  font-weight: 700;
}

.fail {
  color: red;
  font-weight: 700;
}

.checkTitle {
  margin: 16px auto;
  padding: 8px;
  width: 500px;
  text-align: center;
}

.newContent{
  margin: auto;
  width:40%;
}
