
<div class="checkTitle" >
  <label for="">Check Title: </label>
  <input type="text" #checkTitle>
  <button (click)="clickForCheckTitle(checkTitle.value)">Click to Check</button>
  <p *ngIf = 'searchMessage' class = "success">Title Found!</p>
<div *ngIf = '!searchMessage'class = "fail">Title Not Found!</div>
</div>
<app-content-card *ngFor = "let car of _cars; first as isFirst" [singleCar] = "car" class = "notype" [class.found] = "car.title == checkTitle.value" [class.first-car] = "isFirst"></app-content-card>

