<p>create-content works!</p>
<div class="newContent">
  <label for="">ID: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="number" #id><br><br>
  <label for="">Title: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" #title><br><br>
  <label for="">Description: </label>
  <input type="text" #description><br><br>
  <label for="">Creator: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" #creator><br><br>
  <label for="">imgURL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" #imgURL><br><br>
  <label for="">Type: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" #type><br><br>
  <button (click) = "createNewRecord(id.value, title.value, description.value, creator.value, imgURL.value, type.value)">Add Car</button>
</div>
