

.car {
  border-style: solid;
  margin: auto;
  border: 1px solid green;
  width: 30%;
  padding: 10px;
}

.tag {
  border-style: solid;
  border: 1px solid red;
}

.tag:hover {
  background-color: yellow;
  font-weight: 700;
}

:host.first-car{
  border: 2px solid #000;
}
