
<!-- AS1 code
<span [innerHTML] = 'carList?.getHtml(0)'></span>
<span [innerHTML] = 'carList?.getHtml(1)'></span>
<span [innerHTML] = 'carList?.getHtml(2)'></span> -->


<!----AS2 code start from here-->
<div>
  <div *ngIf = "singleCar?.title == ''">
    <img src="https://cdn.vox-cdn.com/thumbor/KdPbtQwqyQoXu8fN3-GnYYabL8w=/0x170:2040x1190/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/19580683/mercedes_vision_avtr_0478.jpg" alt="">
  </div>
  <h3 class="title" *ngIf = "singleCar?.title">Title: {{ singleCar?.title }}</h3>
  <div class="description" *ngIf = "singleCar?.description">Description: {{ singleCar?.description }}</div>
  <div class="creator" *ngIf = "singleCar?.creator">Creator: {{singleCar?.creator}} </div>
  <div class="type" *ngIf = "singleCar?.type">Type: {{ singleCar?.type }}</div><br>
  <div class="image" (click)="showId()" *ngIf = "singleCar?.imgURL"><img src="{{singleCar?.imgURL}}" width="200"></div>
  <div class="tags" >
    <span class="tag" *ngFor="let tag of singleCar?.tags" >{{tag}}  &nbsp;&nbsp; </span>
  </div>
</div>


