
/* .car {
  border-style: solid;
  margin: auto;
  border: 1px solid green;
  width: 30%;
  padding: 10px;
  text-align: center;
} */
:host {
  border: 1px solid #0000ff;
  display: block;
  margin: 16px auto;
  padding: 8px;
  width: 500px;
  text-align: center;
}

.tag {
  border-style: solid;
  border: 1px solid red;
}

.tag:hover {
  background-color: yellow;
  font-weight: 700;
}


:host.notype {
  border-style: solid;
  border-color: green;
  background-color: antiquewhite;
}

:host.suv {
  border-style: solid;
  border-color: red;
  background-color: aquamarine;
}

:host.sedan {
  border-style: solid;
  border-color: maroon;
  background-color: lightblue;
}

:host.truck {
  border-style: solid;
  border-color: mediumaquamarine;
  background-color: navajowhite;
}

:host.found {
  background-color: yellow;
}

